{{!-- 
    {{ Created by wouter on 19/12/14. }} 
--}}
<h1>Welcome <span class="name"></span></h1>
<h3>Model View Whatever</h3>
<p class="info"></p>
{{#if loggedin}}
    <a class="logout button small" title="logout" href="#">Logout</a>
{{/if}}
