<form action="">
    <input type="text" name="login-username" placeholder="Username"/><br/>
    <input type="text" name="login-password" placeholder="Password"/><br/>
    <input type="submit" class="button js-btn-login" value="Login" />
</form>
