{{!-- 
    {{ Created by wouter on 24/12/14. }} 
--}}

<ul class="playlist">
    {{#each tracks}}
        <li class="track" data-tracknumber="{{i}}">
            <h4>{{title}}</h4>
            <h5>{{artist}}</h5>
        </li>
    {{/each}}
</ul>