{{!-- 
    {{ Created by wouter on 24/12/14. }} 
--}}
<nav>
    <button class="button-secondary-pill" data-playlist="a">Playlist A</button>
    <button class="button-secondary-pill" data-playlist="b">Playlist B</button>
    <button class="button-secondary-pill" data-playlist="hottestrecord2013">Hottest Record of 2013</button>
</nav>
<img src="img/loader.GIF" style="margin: 50px auto; display: block;" class="playlist-preloader is-hidden" width="32" height="32" alt=""/>
